body {
  font-family: sans-serif;
}

page {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0.5em;
  /*border: 1px solid red;*/
}

region {
  display: block;
  /*border: 1px solid orange;*/
}

horizontal {
  display: block;
  /*border: 1px solid green;*/
}

block {
  display: block;
  /*border: 1px solid blue;*/
}

.social,
.hero,
.description,
.photo {
  flex: 1 1 50%;
  /*border: 1px solid blue;  */
}

.navigation,
.description,
.photo {
  padding: 0.5em;
}

img {
  max-width: 100%;
}

.number {
  flex: 1 1 50%;
  /*border: 1px solid blue;*/
  text-align: right;
}

.pic,
.contact,
.event {
  display: flex;
  /*border: 1px solid green;*/
}

.logo {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.navigation {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

item {
  padding: 0.5em;
  font-size: 1em;
}

item a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

item a:hover {
  color: #00aced;
}

/*Styling*/
.number p {
  line-height: 0.1em;
  font-size: 1em;
} 

.logo {
  font-weight: bold;
  font-size: 2em;
}

.subtitle {
  font-weight: bold;
}