body {
  background-color: #faf7f3;
}

page {
  display: block;
  margin: 0 auto;
  max-width: 1100px;
  padding: 0.5em;
  border: 1px solid red;
}

region {
  display: block;
  border: 1px solid orange;
}

horizontal {
  padding: 0.5em;
  display: block;
  border: 1px solid green;
}

logo,
navigation,
about,
copyright {
  display: block;
  border: 1px solid blue;
}

social,
description,
photo,
.hero {
  flex: 1 1 50%;
  border: 1px solid blue;  
}

img {
  max-width: 100%;
}

number {
  flex: 1 1 50%;
  padding: 0.5em;
  border: 1px solid blue;
  text-align: right;
}

pic,
.contact,
.event {
  display: flex;
  border: 1px solid green;
  padding: 0.5em;
}

logo {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

navigation {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

item {
  padding: 0.5em;
}