body {
  background-color: #faf7f3;
}

page {
  display: block;
  margin: 0 auto;
  max-width: 1100px;
  padding: 0.5em;
  border: 1px solid red;
}

header,
content,
footer {
  display: block;
  border: 1px solid orange;
}

logo,
navigation,
about,
copyright {
  display: block;
  border: 1px solid green;
}

.hero,
social,
description,
photo {
  flex: 1 1 50%;
  padding: 0.5em;
  border: 1px solid blue;
}

img {
  max-width: 100%;
}

number {
  flex: 1 1 50%;
  padding: 0.5em;
  border: 1px solid blue;
  text-align: right;
}

pic,
contact,
event {
  display: flex;
  padding: 0.5em;
  border: 1px solid green;
}

logo {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

navigation {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

item {
  padding: 0.5em;
}